{var $robots = noindex}

{block content}

<h1 n:block=title>Sign in</h1>

<table>
	<tr>
		<td width="400">
			<h2>Registered Users</h2>
			{control signInForm}
		</td>
		<td width="400">
			<h2>New Users</h2>
			{control signUpForm}
		</td>
	</tr>
</table>
		
		
<h2>Terms</h2>
<p>Investing in Bitcoin is risky and highly speculative. Use at your own risk. I will not be liable for any possible loss directly or indirectly caused by use of this website.</p>