{var $robots = noindex}

{block content}

<h1 n:block=title>Reset your password</h1>

{if $verificationSuccess}
	{control resetPasswordForm}
{else}
	<p>Not able to verify password reset link. If this is my fault, write me at tom@coinbaseorders.com. If you're just trying stuff out, then go ahead. And when you get tired, you can send me email to complain.</p>
{/if}