{block content}
<h1>Place new order</h1>
				
<p>You can place a new order to be executed in future when price condition is met.</p>
<ul>
	<li><b>BUY</b> - wait until price DROPS on a certain level, then buy</li>
	<li><b>SELL</b> - sell some amount when price skyrokets fast</li>
</ul>

				
{widget NewOrderForm}

<p>Buying or selling prices are excluding Coinbase fees.</p>