{block content}
<h1>Orders</h1>
 
<a n:href="newOrder" class="btn btn-success btn-large"><i class="icon-white icon-plus"></i> Place new order</a>

{widget OrdersGrid}

<p>Price on Coinbase is checked once a minute against your orders. Last check on {$lastBuyPrice->updated} PST</p>