parameters:
	OauthClientId: '...'
	OauthClientSecret: '...'
	OauthClientUrl: '...'
	salt: '...'
	gmailPwd: '...'

php:
	date.timezone: US/Pacific
	# zlib.output_compression: yes

nette:
	database:
		dsn: 'mysql:host=localhost;dbname=set_here_your_database_name'
		user: root
		password: your_db_password

	application:
		errorPresenter: Error

	session:
		expiration: 14 days

    mailer:
        smtp: true
        host: 'smtp.gmail.com'
        port: 443
        username: 'tom@coinbaseorders.com'
        password: '*****'
        secure: 'ssl'
        timeout: 15

services:
	authenticator: Authenticator
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	database: @Nette\Database\Connection
	orders: OrdersModel
	logs: LogsModel
	coinbase: CoinbaseWrapper(%OauthClientId%, %OauthClientSecret%)
	salted: Salted(%salt%)
	values: ValuesModel
	texts: Texts
	coinbasePrice: CoinbasePrice
	tokenErrors: TokenErrorsModel


factories:
