parameters:
	OauthClientId: '3c135ad85723f4ee079cf70786afe39461d64c017234a237a25818dcdf719a67'
	OauthClientSecret: '674ea138878cab87c40c6650f890b90665e3fdac1e7f003da74cd9fe03e02566'
	OauthClientUrl: 'http://l.coinbaseorders.com/'
	salt: 'af&^*PUY799af7fh'

php:
	date.timezone: US/Pacific
	# zlib.output_compression: yes

nette:
	database:
		dsn: 'mysql:host=localhost;dbname=coinbaseorders'
		user: root
		password: localDB1

	application:
		errorPresenter: Error

	session:
		expiration: 14 days


services:
	authenticator: Authenticator
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	database: @Nette\Database\Connection
	orders: OrdersModel
	logs: LogsModel
	coinbase: CoinbaseWrapper(%OauthClientId%, %OauthClientSecret%)
	salted: Salted(%salt%)
	values: ValuesModel
	texts: Texts
	coinbasePrice: CoinbasePrice
	tokenErrors: TokenErrorsModel


factories:
