body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

#content{
	  padding-left: 5px;
	  padding-right: 5px;
}

  @media (min-width: 800px) {
    #content {
      padding-left: 20px;
	  padding-right: 20px;
    }
  }

h1 {
	padding-bottom:30px;
}


h2 {
	font-size:18px;
	padding-bottom:10px;
}

.nav li span{
	color:#999;padding: 10px 10px 11px;display:block;
}

.nav li.important span, .nav li.important a{
	color:#0F0;
}

p, ul li{
	font-size:14px;
}

table td{
	vertical-align: top;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
