<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}Coinbase Limit Orders{/block}</title>

	
	{* <link rel="stylesheet" media="print" href="{$basePath}/css/print.css"> *}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	{* <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> *}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/grid.js"></script>
	<script src="{$basePath}/js/jquery-ui.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>	
	<link rel="stylesheet" href="{$basePath}/css/grid.css" />
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" />
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" />
	{block head}{/block}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Coinbase Limit Orders</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li n:if="$user->isLoggedIn()"><a n:href="Homepage:orders, 'OrdersGrid-filter[status]' => 'ACTIVE'">Orders</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		<li n:ifset="$headerMessage" class="important">
			{$headerMessage}
		</li>	
		<li>		
			{if !$user->isLoggedIn()}
				<a n:href="Sign:in">Log in / Sign up</a>
			{else}
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$user->identity->username ?: $user->identity->email} <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a n:href="Sign:profile">Profile</a></li>
					<li class="divider"></li>
					<li><a n:href="Sign:out">Log out</a></li>
				  </ul>
				</li>
			{/if}
		</li>	  
    </ul>
  </div>
</nav>
	
	<div id="content">
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{include #content}
		<script src="{$basePath}/js/lightbox-2.6.min.js"></script>
	</div>
	
	

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
